  <div class="content" style="margin-left: 5px;">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <label for="filterText" class="form-label" style="margin-left: 22%; font-weight: bold;">RENK ARA</label>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <input type="text" [(ngModel)]="filterText" class="form-control" id="colorfilterText" 
            placeholder="*Blue">
          </div>
          <ul class="list-group">
            <li (click)="setMainColor()" [class] = "getAllColorClass()" routerLink = "/cars">Tüm Renkler</li>
              <li (click)="setCurrentColor(color)" 
              routerLink = "/cars/color/{{color.colorId}}"
              *ngFor="let color of colors | colorFilter:filterText" 
              [class] = "getCurrentColorClass(color)">
              {{color.colorName}}</li>
            </ul>
        </div>
      </div>
    </div>
  </div>