<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rent A Car</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Ana Sayfa</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ekle
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/cars/add" >Araba Ekle</a></li>
            <li><a class="dropdown-item" routerLink="/brands/add" >Marka Ekle</a></li>
            <li><a class="dropdown-item" routerLink="/colors/add" >Renk Ekle</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Düzenle
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/cars/update" >Araba Düzenle</a></li>
            <li><a class="dropdown-item" routerLink="/brands/update" >Marka Düzenle</a></li>
            <li><a class="dropdown-item" routerLink="/colors/update" >Renk Düzenle</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tablolar
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/cars" >Arabalar</a></li>
            <li><a class="dropdown-item" routerLink="/customers" >Müşteriler</a></li>
            <li><a class="dropdown-item" routerLink="/rentals" >Kiralamalar</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <div *ngIf="IsSignedBool == false">
          <button class="btn btn-outline-success" routerLink="/login">Giriş Yap</button>
          <button class="btn btn-outline-info" style="margin-left: 10px;" routerLink="/register">Kayıt Ol</button>
        </div>
        <div class="dropdown" *ngIf="IsSignedBool == true" style="margin-right: 15px;">
          <button *ngIf="user" class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{user.firstName}}
            {{user.lastName}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" routerLink="/userEdit">Bilgilerim</a></li>
            <li><a class="dropdown-item" (click)="LogOut()">Çıkış Yap</a></li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</nav>