  <div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <label for="filterText" class="form-label" style="font-weight: bold; margin-left: 20%;">MARKA ARA</label>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <input type="text" [(ngModel)]="filterText" class="form-control" id="brandfilterText" 
            placeholder="*Nissan">
          </div>
          <ul class="list-group">
            <li (click)="setMainBrand()" [class] = "getAllBrandClass()" routerLink = "/cars">Tüm Markalar</li>
              <li (click)="setCurrentBrand(brand)" 
              routerLink = "/cars/brand/{{brand.brandId}}"
              *ngFor="let brand of brands | brandFilter:filterText" 
              [class] = "getCurrentBrandClass(brand)">
              {{brand.brandName}}</li>
            </ul>
        </div>
      </div>
    </div>
  </div>