<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <div *ngIf="carFiltered == false">
      <div class="mb-3">
        <label for="filterText" class="form-label" style="margin-left: 45%; font-weight: bold;">ARABA ARA</label>
        <input type="text" [(ngModel)]="filterText" class="form-control" id="carfilterText"
          placeholder="arama ifadesi giriniz">
      </div>
      <div *ngIf="filterText.length>2" class="alert alert-success">
        {{filterText}} aradınız.
      </div>
  
      <select class="form-select" aria-label="Default select example" [(ngModel)]="filterBrandId">
        <option *ngFor="let brand of brands" value="{{brand.brandId}}">{{brand.brandName}}</option>
      </select>
  
      <select class="form-select" aria-label="Default select example" style="margin-left: 25px;" [(ngModel)]="filterColorId">
        <option *ngFor="let color of colors" value="{{color.colorId}}">{{color.colorName}}</option>
      </select>
  
      <button (click)="getCarByFilter(filterBrandId,filterColorId)" type="button" class="btn btn-success"
        style="float: left; margin-left: 90px; margin-bottom: 15px;">Filtrele</button>
    </div>   

    <div *ngIf="mainCar" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Araç Kirala</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <table>
              <td>
                <tr>
                  <span class="input-group-text" id="basic-addon1">Günlük Fiyat</span>
                </tr>
                <tr>
                  <span class="input-group-text" style="margin-top: 16px;">Müşteri Seçiniz</span>
                </tr>
                <tr>
                  <span class="input-group-text" style="margin-top: 16px;">Kiralama Tarihi</span>
                </tr>
                <tr>
                  <span class="input-group-text" style="margin-top: 16px;">Teslim Tarihi</span>
                </tr>
              </td>
              <td>
                <tr>
                  <div class="input-group mb-3">
                    <input *ngIf="mainCar" type="text" class="form-control"
                      placeholder="{{mainCar.dailyPrice |currency:'₺ '}}" aria-label="Username"
                      style="text-align: center; width: 325px;" aria-describedby="basic-addon1" disabled>
                  </div>
                </tr>
                <tr>
                  <select style="max-width: 325px;" class="form-select" aria-label="Default select example"
                    [(ngModel)]="rental.customerId">
                    <option value="{{customer.userId}}" *ngFor="let customer of customers">{{ customer.companyName }}
                    </option>
                  </select>
                </tr>
                <tr>
                  <input [(ngModel)]="rental.rentDate" type="datetime-local"
                    style="margin-top: 17px; width: 325px; height: 37px;">
                </tr>
                <tr>
                  <input [(ngModel)]="rental.returnDate" type="datetime-local"
                    style="margin-top: 17px; width: 325px; height: 37px;">
                </tr>
              </td>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            <button (click)="addRental(rental)" (click)="totalPrice(rental.rentDate,rental.returnDate)" type="button"
              class="btn btn-primary" data-bs-dismiss="modal">Kirala</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="mainCar" id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div [class]="getCarImageClass(carImage)" *ngFor="let carImage of carImages">
          <img class="d-block w-100" style="max-width: 960px; height: 540px; margin-block: 20px; margin-inline: 65px;" src="https://localhost:44303/{{ carImage.imagePath }}">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <table *ngIf="dataLoaded!=false" class="table table-bordered">
      <thead>
        <tr class="table">
          <th>Id</th>
          <th>Marka Adı</th>
          <th>Renk</th>
          <th>Findeks Değeri</th>
          <th>Model Yılı</th>
          <th>Günlük Fiyat</th>
          <th>Açıklama</th>
        </tr>
      </thead>
      <tbody>
        <tr routerLink="/cars/details/{{ car.carId }}" *ngFor="let car of cars | carFilter:filterText">
          <td>{{ car.carId }}</td>
          <td>{{ car.brandName }}</td>
          <td>{{ car.colorName }}</td>
          <td>{{ car.minFindeks }}</td>
          <td>{{ car.modelYear }}</td>
          <td>{{ car.dailyPrice | currency:'₺ '}}</td>
          <td>{{ car.carName }}</td>
        </tr>
      </tbody>
    </table>

    <button *ngIf="mainCar" type="button" class="btn btn-primary" data-bs-toggle="modal" style="margin-left: 400px; width: 300px; margin-bottom: 25px;"
    data-bs-target="#exampleModal">Kirala</button>
  </div>
</div>